<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">


    <title>Owner Directory</title>
</head>

<body>

<div class="container">

    <h3>Owner Directory</h3>
    <hr>

    <a th:href="@{/owners/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Owner
    </a>

    <a th:href="@{/logout}"
       class="btn btn-danger btn-sm mb-3">
        Logout
    </a>

    <table id="owner" class="display">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Phone Number</th>
            <th>Pets</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="owner : ${owners}">

            <td>
                <a th:href="@{/owners/ownerDetails(ownerId=${owner.id})}"
                   th:text="${owner.firstName + ' ' + owner.lastName}"/>
            </td>
            <td th:text="${owner.address}"/>
            <td th:text="${owner.city}"/>
            <td th:text="${owner.phoneNumber}"/>
            <td>
                <a th:each="pet : ${owner.pets}"
                   th:href="@{{id}/petDetails(petId=${pet.id}, id=${owner.id})}"
                   th:text="${pet.name + ' '}"/>
            </td>


        </tr>
        </tbody>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
   $(document).ready(function() {
    $('#owner').DataTable();
} );


</script>

</body>
</html>