<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">


    <title>Owner Information</title>
</head>

<body>

<div class="container">

    <h3>Owner Information</h3>
    <hr>

    <table id="owner_details" class="display">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>DOB</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Pets</th>
        </thead>

        <tbody>
        <tr th:object="${owner}">
            <td th:text="${owner.firstName + ' ' + owner.lastName}"/>
            <td th:text="${owner.dob}"/>
            <td th:text="${owner.address}"/>
            <td th:text="${owner.city}"/>
            <td th:text="${owner.state}"/>
            <td th:text="${owner.zip}"/>
            <td th:text="${owner.email}"/>
            <td th:text="${owner.phoneNumber}"/>
            <td>
                <a th:each="pet : ${owner.pets}"
                   th:href="@{{id}/petDetails(petId=${pet.id}, id=${owner.id})}"
                   th:text="${pet.name + ' '}" />
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Update -->
    <a th:href="@{/owners/showFormForUpdate(ownerId=${owner.id})}"
       class="btn btn-info btn-sm">
        Update
    </a>

    <!-- Delete -->
    <a th:href="@{/owners/delete(ownerId=${owner.id})}"
       class="btn btn-danger btn-sm"
       onclick="if (!(confirm('Are you sure you want to delete this owner?'))) return false">
        Delete
    </a>

    <!-- Add Pet -->
    <a th:href="@{{id}/pets/new(id=${owner.id})}"
       class="btn btn-primary btn-sm">
        Add Pet
    </a>

    <hr>
    <a th:href="@{/owners/list}">Back to Owners List</a>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
   $(document).ready(function() {
    $('#owner_details').DataTable();
} );

</script>
</body>
</html>