<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>New Pet Form</title>
</head>

<body>

<div class="container">

    <h3>Pet Directory</h3>
    <hr>

    <p class="h4 mb-4">Save New Pet</p>

    <form action="#" th:action="@{/owners/{id}/pets/save(id=${owner.id})}"
          th:object="${pet}" method="POST">

        <input type="hidden" th:field="*{id}">

        <h5>Owner:</h5>

        <div>
            <span th:text="${pet.owner?.firstName + ' ' + pet.owner?.lastName}"></span>
        </div>

        <br />

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Name" required>

        <input type="text" th:field="*{typeOfPet}"
               class="form-control mb-4 col-4" placeholder="Type of Pet" required>

        <input type="text" th:field="*{breed}"
               class="form-control mb-4 col-4" placeholder="Breed" required>

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/owners/list}">Back to Owners List</a>

</div>

</body>
</html>